@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    margin: 0%;
    padding: 0%;
}
body {
    background: rebeccapurple;
    margin-top: -20px;
}
.main_wrapper {
    width: 1000px;
    height: auto;
    margin: auto;
}
.header_wrapper {
    width: 1000px;
    height: 100px;
    background: white;
}
#navbar {
    width: 1000px;
    height: 50px;
    /* background: gray; */
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
#navbar ul {
    float: left;
    width: 800px;
    list-style: none;
}
#navbar ul li {
    display: inline;
}
#navbar ul li a {
    padding: 20px;
    text-decoration: none;
    line-height: 50px;
    font-size: 17px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#navbar ul li a:hover {
    text-decoration: underline;
    color: yellow;
    font-weight: bold;
}
#navbar form {
    /* float: right; */
    line-height: 50px;
    padding-right: 5px;
    
}
.content_wrapper {
    width: 1000px;
    height: auto;
    background: rgb(231, 16, 16);
    color: white;
}

#left_content_area {
    width: 200px;
    height: 520px;
    /* background: black; */
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: right;
}
.categories h2 {
    background: white;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.4ch;
}
.categories ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}
.categories ul li   {
    padding: 8px;
    text-align: left;
}
.categories ul li a  {
    color: White;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.categories ul li a:hover  {
    color: Orange;
    text-decoration: underline;  
}
#right_content_area {
    width: 800px;
    height: 520px;;
    background: purple;
    float: left;
}
.headline {
    background-color: black;
    color: white;
    float: right;
    height: 35px;
    width: 780px;
    padding: 10px;
}
#headline_content {
    float: right;
    line-height: 35px;
}

#product_box {
    width: 780px;
    padding: 10px;
    margin-left : 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#single_product {
    float: left;
    padding: 10px;
    margin-right: 40px;
    margin-top: 20px;
}
#single_product img {
    border: 2px solid black;
}
#single_product button {
    width: 85px;
    height: 25px;
    border-radius: 7px;
    border: 0;
    background: #0a84ff;
    color: white;
}
#single_product button:hover {
    cursor: pointer;
}
#single_product a {
    color: white;
}
.footer {
    width: 1000px;
    height: 50px;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    clear: both;
    text-align: center;
    line-height: 50px;
}
.footer h1 {
    color: white;

}
.footer h1 a {
    text-decoration: underline;
    color: yellow;
    font-family: 'Nunito', sans-serif;  
}
.prodisplay {
    margin-top: 230px;
    color: white;
    font-size: 65px;
    margin-right: 35px;
}
.detailp {
    color: black;
    float: left;
    margin-top: 8px !important;
}
.gotocart {
    width:750px;
   background: #0962bc; 
   margin-top: 60px;   
}
tr {
	padding: 50px;
}
.dp {
    border: 2px;
    border-radius: 50%;
}
.pic {
    color: white;
}

